@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-primary: #166efb;
}

body {
  width: 292px;
  font-family: 'Inter', sans-serif;
  color: #000000;
}

header h1 {
  text-align: center;
  margin: 16px 0;
  font-size: 14px;
  line-height: 21px;
}

#projects {
  padding: 0 16px 16px;
}

.p-link {
  display: flex;
  width: 100%;
  height: 45px;
  padding: 0 16px;
  margin-bottom: 2px;
  align-items: center;
  border-radius: 8px;
}

.p-link:hover {
  background-color: #f6f6f6;
}

.p-icon {
  flex: 0 0 25px;
  height: 25px;
  margin-right: 12px;
  border-radius: 100%;
}

.p-name {
  flex: 1;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.p-badge {
  display: none;
  background-color: var(--color-primary);
  color: white;
  font-weight: 700;
  font-size: 10px;
  height: 25px;
  line-height: 25px;
  padding: 0 12px;
  border-radius: 1000px;
  text-transform: uppercase;
}
